.navbar {
  background-color: aquamarine;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;

  margin: 0;
  padding: 0 50px;
}

.navbar-logo {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  padding: 0 10px;
  align-items: center;
  height: 100%;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.menu-icon {
  display: none;
}
